@model IEnumerable<asp.Models.Note>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NoteTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NoteContents)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User)
            </th>
            <th>
               
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NoteTitle)
                </td>
                <td>
                    <a asp-controller="Note" asp-action="Details" asp-route-id="@item.NoteNo">@item.NoteContents</a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.User.UserId)
                </td>
                <td>
                    <a asp-action="AddOrEdit" asp-route-id="@item.NoteNo">Edit</a> |
                    <a asp-action="Delete" asp-route-id="@item.NoteNo">Delete</a>

                </td>
            </tr>
        }
    </tbody>
</table>

<a onclick="showInPopup('@Url.Action("AddOrEdit","Note",null,Context.Request.Scheme)','New datatable')" class="btn btn-success text-white"><i class="fas fa-random"></i>new datatable</a>"
