@model asp.Models.Note

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoteTitle)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoteTitle)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NoteContents)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NoteContents)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.User.UserId)
        </dd>
    </dl>
</div>
<div>
    <a class ="btn btn-primary" asp-action="Edit">수정</a>
    <a class="btn btn-outline-primary" asp-action="Index">목록</a>
</div>
